<div class="well flex" *ngIf="weather && city">
    <div>
        <h3>{{ city.name }} ({{ city.zipCode }})</h3>
        <h4>Current conditions: {{ weather.condition }}</h4>
        <h4>Temperatures today:</h4>
        <p>Current {{ weather.temperature }} - Max {{ weather.temperatureMax }} - Min {{ weather.temperatureMin }}</p>
        <p>
            <a [routerLink]="['/forecast', city.zipCode]">Show 5-day forecast for {{ city.name }}</a>
        </p>
    </div>
    <div (click)="close()">
        <span class="close">×</span>
        <img [src]="weather.condition | weatherIconUrl" [alt]="weather.condition" />
    </div>
</div>
